{ 
  "extends": "airbnb/base",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true
    }
  },
  "rules": {
    "no-underscore-dangle" : "off",
    "no-plusplus": "off",
    "import/extensions": "off",
    "react/jsx-filename-extension": [0]
  },
  "env": {
    "browser": true,
    "node": true
  }
  
}
