<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Vite App</title>
  <script type="module" src="/assets/index.a5111596.js"></script>
    <script src="/assets/vendor.a8a93588.js"></script>
    <link rel="stylesheet" href="/assets/index.8f77e6d6.css">
</head>
<body> 
  <div id="root"></div>
</body>
</html>