<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Vite App</title>
 
   <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
 
  
  <script type="module" crossorigin src="/assets/index.38ab110e.js"></script>
  <link rel="modulepreload" href="/assets/vendor.bed18371.js">
  <link rel="stylesheet" href="/assets/index.8f77e6d6.css">

</head>
<body> 
  <div id="root"></div>
  
</body>
</html>